/* COLORS: aqua, black, blue, fuchsia, gray, green, lime, maroon, navy, olive, orange, purple, red, silver, teal, white, and yellow.*/

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    color: #ff0;
    background-color: #00f;
}

h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
}

p {
    font-size: 14pt;
    color: red;
    background: black; 
    padding: 20px;
    border-radius: 10px;
}

a:active {
    color: red;
}

a:hover {
    text-decoration: none;
    color: blue;
    background-color: yellow;
}

input:focus, textarea:focus {
    background: #eee;
}