<!-- extend base layout -->
{% extends "base_bootstrap.html" %}
{% block content %}

<head>
    <title>Our Team</title>
    <link rel="stylesheet" href="/static/style_kjb.css">

    <h1>Playing here</h1>
    <h2>second heading here</h2>
    <h3>Author contact details</h3>
    <address>
    <ul>
        <li>###-###-####</li>
        <li>kaylanb@berkeley.edu</li>
        <li>http://astro.berkeley.edu/~kaylanb</li>
    </ul>
    </address>
    <a href="http://astro.berkeley.edu/~kaylanb/">Kaylan</a>


<!-- 
    <p>My name is Kaylan Burleigh I am a third year grad student here is 
    <a href="http://astro.berkeley.edu/~kaylanb/">my website</a></p>

    <h2>New section</h2>

    <p><!~~ pagebreak ~~></p> 
    <p>hello</p>
    <p><!~~ pagebreak ~~></p> 
 -->
</head>

<!-- extend base layout -->
{% endblock %}

 