<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Skin vs. Food</title>
    {% endif %}
  </head>
  <body>
    <div>Navigate Here: 
        &nbsp;&nbsp;<a href="/">Home</a>
        &nbsp;&nbsp;<a href="/ShowTestData">Show Test Data</a>
        &nbsp;&nbsp;<a href="/upload">Upload Local Image</a>
        &nbsp;&nbsp;<a href="/AboutUs">About Us</a>
    </div>
 
<!--     leave below ALONE, this allows this html file to be used as template for others -->
    {% block content %}{% endblock %}
  </body>
</html>