<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Skin vs. Food</title>
    {% endif %}
  </head>
  <body>
    <div>Navigate Here: 
        <a href="/index">Home</a>
        <a href="/AnalyzeImg">AnalyzeImg</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>