<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>');
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:');
        openid = openid.substr(0, u) + user;
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid;
}
</script>
<h1>How do you want to analyze our data?</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p><label for="title">{{form.HowAnalyze.label}}</label><br/>
        {{form.HowAnalyze}}
        {% if form.HowAnalyze.errors %}
        <ul class="errors">
            {% for error in form.HowAnalyze.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </p>
    <p><label for="title">{{form.WhichMethods.label}}</label><br/>
        {{form.WhichMethods}}
        {% if form.WhichMethods.errors %}
        <ul class="errors">
            {% for error in form.WhichMethods.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </p>
    <p><input type="submit" value="Done Selecting"></p>
</form>
{% endblock %}